/*----------  Slideout  ----------*/

.slideout-menu {
	position: fixed;
	top: 0;
	bottom: 0;
	width: 280px;
	min-height: 100vh;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	z-index: 0;
	display: none;
	background: #fff;
}

.slideout-menu-left {
	left: 0;
}

.slideout-menu-right {
	right: 0;
}

.slideout-panel {
	position: relative;
	z-index: 1;
	background-color: #fff; /* A background-color is required */
	min-height: 100vh;
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
	overflow: hidden;
}

.slideout-open .slideout-menu {
	display: block;
}

/*----------  Header  ----------*/

.header__mobile {
	position: fixed;
	width: 100%;
	height: 80px;
	overflow: hidden;
	top: 0px;
	left: 0px;
	background: #fff;
	padding: 16px 0px;
	box-sizing: border-box;
	z-index: 8888;

	& .wrap {
		height: 100%;
	}

	&.active {
		position: absolute;
	}
}

.header__mobile__content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100%;
}

.header__mobile__logo {
	display: block;
	height: 100%;
	max-width: 100px;

	& img {
		display: block;
		max-width: 100%;
		max-height: 100%;
	}
}

.header__mobile__burger {
	width: 32px;
	height: 32px;
	z-index: 10;
	padding: 0px;

	& span {
		position: relative;

		&::before,
		&::after {
			position: absolute;
			content: '';
		}

		&::before {
			top: -9px;
		}

		&::after {
			top: 9px;
		}
	}

	&.clicked {
		& span {
			background: transparent;
			transition: background 0.15s ease-in;

			&::before {
				transform: rotate(45deg);
				transition: transform 0.3s ease-in, top 0.3s ease-in;
				top: 0px;
			}

			&::after {
				transform: rotate(-45deg);
				transition: transform 0.3s ease-in, top 0.3s ease-in;
				top: 0px;
			}
		}
	}
}

.header__mobile__burger span,
.header__mobile__burger span::before,
.header__mobile__burger span::after {
	display: block;
	width: 100%;
	height: 3px;
	background-color: #2a2a2a;
	outline: 1px solid transparent;
	transition-property: background-color, transform;
	transition-duration: 0.3s;
}

/*----------  Panel mobile  ----------*/

.panel {
	padding: 30px;
	box-sizing: border-box;
}

.panel__mask {
	position: absolute;
	top: 0px;
	left: 0px;
	background: transparent;
	width: 100%;
	height: 100%;
	visibility: hidden;
	transition: background 0.15s ease-in, visibility 0.3s ease-in;
	z-index: 9999;

	&.active {
		visibility: visible;
		background: rgba(0, 0, 0, 0.5);
		transition: background 0.3s ease-in;
	}
}

.panel__bloc {
	& + .panel__bloc {
		border-top: #f2efef 1px solid;
		margin-top: 28px;
		padding-top: 28px;
	}
}

/*----------  Menu mobile  ----------*/

.panel__menu__nav {
	padding: 0px;
	margin: 0px;
	list-style-type: none;
	font-family: var(--geo);
	font-size: 20rem;
	font-weight: 600;
	text-transform: uppercase;

	& a {
		color: var(--grey);
	}

	& .sub-menu {
		list-style-type: none;
		padding: 0px;
		margin: 0px;
		font-weight: 300;
		border-left: var(--yellow) 2px solid;
		padding-left: 10px;
		box-sizing: border-box;
		margin-top: 14px;
		font-size: 18rem;

		& .menu-item {
			& + .menu-item {
				margin-top: 8px;
			}
		}
	}

	& .menu-item {
		& + .menu-item {
			margin-top: 14px;
		}
	}
}

/*----------  Menu client  ----------*/

.panel__customer {
	display: flex;
	justify-content: space-around;
}

/*----------  Social  ----------*/

.panel__social {
	display: flex;
	justify-content: space-around;
}
