/* Base */
@import 'variables';
@import 'typography';
@import 'template';

/* Bulma */
@import '../../node_modules/bulma/css/bulma';

/* Specific */
/* -- Regions */
@import 'regions/regions.header';
@import 'regions/regions.footer';
/* -- Blocks */
@import 'blocks/blocks.default';
@import 'blocks/blocks.menu';

/* -- Pages */
@import 'pages/pages.front';

/* Layout */
@import 'layout/base';
@import 'layout/481' (min-width: 481px);
@import 'layout/769' (min-width: 769px);
@import 'layout/1030' (min-width: 1030px);
@import 'layout/1240' (min-width: 1240px);

/* Google Fonts */
@import 'https://fonts.googleapis.com/css?family=Karla:700&display=swap';
@import 'https://fonts.googleapis.com/css?family=Lora:400,400i,700&display=swap';
