body {
	margin: 0;
	font-family: var(--s-stack);
}

img {
	height: auto;
	max-width: 100%;
}

abbr {
	border-bottom: 1px dotted #666666;
	cursor: help;
	white-space: nowrap;
}

sup,
sub {
	font-size: 0.7em;
	position: relative;
}

sup {
	bottom: 0.6em;
}

sub {
	top: 0.2em;
}

small {
	font-size: 0.75em;
}

acronym {
	text-decoration: dotted;
	cursor: help;
	border-bottom: 1px dotted;
	border-bottom-color: inherit;
}

pre,
code,
tt {
	border: none;
	background: #fff9c0;
	font-family: 'Courier 10 Pitch', Courier, monospace;
	margin-bottom: 1.618em;
	padding: 1.618em;
	overflow: auto;
	max-width: 100%;
}
