html {
	font-size: 6.25% !important;
}

body {
	font-size: 16rem !important;
	line-height: 1.3;
	font-family: var(--ss-stack);
	color: var(--text-color);
}

p {
	word-wrap: break-word;
	hyphens: auto;
	-webkit-hyphenate-before: 2;
	-webkit-hyphenate-after: 3;
	hyphenate-lines: 3;
	font-feature-settings: 'liga', 'dlig', 'kern' true;
}

strong {
	font-weight: bold;
}

em {
	font-style: italic;
}
